body {
  background-color: white;
  overflow: hidden;
}

body,
html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

video {
  height: auto;
  position: absolute;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.25;
  background-color: black;
}